@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Condensed');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.font-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
